* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: coral;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

li {
  list-style-type: none;
  background-color: greenyellow;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}

p {
  margin:15px auto;
  text-align: center;
  background-color: rgb(232, 2, 2);
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border: 1px solid rgb(197, 195, 195);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(206, 204, 204);
  width: 400px;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  background-color: rgb(11, 156, 246);
  color: #FFF;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100px;
}

.btn:hover {
  background-color: rgb(6, 202, 6);
  color: #FFF;
  cursor: pointer;
}

